/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: white;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0; 
    margin-left: 200px;
    gap: 100px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 25px;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}


.contact-intro {
    text-align: center;
    padding: 50px 20px;
}

.contact-intro h1 {
    font-size: 35px;
    margin-bottom: 70px;
}

.contact-intro p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.contact-intro img {
    margin-top: 40px;
    width: 150px;
}

.map {
    padding: 50px 0;
    text-align: center;
}

.contact-form-section {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.form-container {
    display: flex;
    background-color: #222;
    padding: 20px;
    gap: 20px;
    width: 1200px;
}

.form-container img {
    width: 600px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
}

form input, form textarea {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
}

form textarea {
    height: 100px;
}

form button {
    padding: 10px;
    background-color: #f90;
    color: #000;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #e80;
}

/* Footer Styles */
footer {
    background-color: #000; 
    padding: 50px 20px; 
    text-align: center;
    color: #fff; 
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin: 20px 0;
}

footer .social-icons a img {
    width: 30px; 
    transition: transform 0.3s, opacity 0.3s;
}

footer .social-icons a:hover img {
    transform: scale(1.2);
    opacity: 0.8; 
}

footer .links {
    margin-top: 20px;
}

footer .links a {
    margin: 0 20px; 
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s; 
}

footer .links a:hover {
    color: #ccc; 
}

footer p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.5;
}

footer p a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s;
}

footer p a:hover {
    color: #ccc;
}
