/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: white;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    position: absolute; 
    width: 100%;
    z-index: 1;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    text-align: right;
    right: 60px; 
    top: 20px;
    position: absolute;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 70px; 
    padding: 0;
    justify-content: flex-end; /* Align links to the right */
    overflow-x: hidden;
    margin-right: 100px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 25px;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hero Section */
.hero-section img {
    width: 100%;
    height: auto;
}
/* About Section */
.about-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
}

.about-intro h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.about-intro p {
    font-size: 18px;
    max-width: 800px;
    line-height: 1.6;
}

.about-intro .about-logo {
    margin-top: 40px;
    width: 300px;
    height: auto;
}

/* Team Section */
.team {
    text-align: center;
    padding: 50px 20px;
}

.team h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
}

.team-member {
    text-align: center;
    width: 200px;
}

.team-member img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.connect-btn {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Experience Section */
.experience {
    background-image: url('../../Assets/concert-experience.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.experience h2 {
    font-size: 50px;
    transform: rotate(-10deg);
    background-color: #000;
    display: inline-block;
    padding: 10px 100px;
}

/* Footer Styles */
footer {
    background-color: #000; 
    padding: 50px 20px; 
    text-align: center;
    color: #fff; 
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer .social-icons {
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center the icons */
    gap: 20px; /* Space between icons */
    margin: 20px 0; /* Space around the icon section */
}

footer .social-icons a {
    text-decoration: none; /* Remove underline from links */
}

footer .social-icons i {
    font-size: 20px; /* Set a consistent size for icons */
    color: #fff; /* Set the color to white */
    transition: transform 0.3s, color 0.3s; /* Add a transition for hover effect */
}

footer .social-icons a:hover i {
    transform: scale(1.2); /* Scale up the icon on hover */
    color: #ccc; /* Change color on hover */
}

footer .links {
    margin-top: 20px;
}

footer .links a {
    margin: 0 20px; 
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s; 
}

footer .links a:hover {
    color: #ccc; 
}

footer p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.5;
}

footer p a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s;
}

footer p a:hover {
    color: #ccc;
}
/* Responsive Media Queries */
@media screen and (max-width: 1024px) {
    .logo img {
        width: 120px;
        margin-left: 50px;
    }

    .nav-links {
        gap: 40px;
        margin-left: 50px;
        margin-right: 10px;
    }

    .nav-links a{
        font-size: 22px;
    }

    .about-intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-intro .about-logo {
        width: 250px;
        margin-bottom: 20px;
    }

    .team-members {
        justify-content: space-evenly;
        gap: 100px;
    }

    .team-member {
        margin-bottom: 20px;
    }
   
    .team-member img {
        width: 150px;
     }

    .experience h2 {
        font-size: 39px;
        padding: 10px 80px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0px;
        background-color: transparent;
        width: 50%;
        padding: 10px;
        text-align: center;
     }

     .nav-links a {
        font-size: 18px;
    }

    .nav-links.active {
        display: flex;
    }

    .logo img {
        width: 100px;
        margin-left: 20px;
    }


    .hero-section img {
        height: auto;
    }

    .about-intro {
        flex-direction: column;
    }

    .about-intro .about-logo {
        width: 200px;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member img {
        width: 150px;
    }

    .experience h2 {
        font-size: 30px;
        padding: 10px 60px;
    }

    .connect-btn {
        width: 80%;
        max-width: 300px;
    }

    footer .footer-content {
        padding: 30px 20px;
    }

    footer .social-icons {
        gap: 15px;
    }

    footer .links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    footer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .menu-icon{
        right: 30px;
    }

    .nav-links {
        gap: 20px;
        margin-left: 0;
    }

    .nav-links a{
        font-size: 16px;
    }

    .nav-links.active {
        display: flex;
    }

    .logo {
        display: flex;
        justify-content: flex-start; /* Ensures the logo stays aligned to the left */
        width: 100%; /* Stretches the logo container to full width */
    }

    .logo img {
        width: 100px;
        margin-left: 20px; /* Adjust this value as needed for spacing */
    }

    .about-intro h1,
    .team h2 {
        font-size: 25px;
    }

    .about-intro p {
        font-size: 14px;
        max-width: 90%;
    }

    .about-intro .about-logo {
        width: 150px;
    }

    .team-member img {
        width: 120px;
    }

    .connect-btn {
        font-size: 14px;
    }

    .experience h2 {
        font-size: 25px;
        padding: 10px 40px;
    }

    footer p {
        font-size: 12px;
    }
}
